.sideBar {
    position: sticky;
    max-width: 35rem;
    // height: 100%;

    @media(max-width: 1400px) {

    
        .homeGridContent {
            display: none;
        }
    }

    @media(max-width: 1000px) {
        max-width: 100%;
    }
    
    border-right: 1px solid var(--border-color);
    .homeGridLeft {
        align-self: start;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block-start: 3rem;
        padding-inline: 2rem;
        height: 100%;

        @media (max-width: 1400px) {
            justify-content: center;
        }

        .homeNavLogo {
            font-size: 3rem;
            font-weight: 700;
        }

        .homeNavTagline {
            font-weight: 700;
            font-size: 1rem;

        }

        .homeGridLeftSection {
            margin-block: 1rem;

            .homeGridLeftTitle {
                font-size: 2rem;
                font-weight: 700;
                margin-block-end: 1rem;
            }

            .welcomeBackMsg {
                font-weight: 600;
                margin-block-end: 1rem;
            }
        }

        .homeGridContentDescriptions {
            .homeDescription {
                color: hsl(0deg, 3%, 44%);
                margin-block: 1rem;
            }
            
        }

        .homeGetStarted {
            h2 {
                color: hsl(0, 3%, 44%);
                font-weight: 700;
                margin-block-end: 1.5rem;
            }
            .homeGetStartedButton {
                background-color: hsl(0deg, 0%, 0%);
                color: hsl(0deg,  100%, 100%);
                font-weight: 700;
                padding-block: 2rem;
                -webkit-transition: all 0.3s ease-in-out;

                &:hover {
                    transform: translateX(3px);
                }
    
            }
        }
    }
}
