.landingContainer {
  background-image: linear-gradient(to bottom,#07050a 53%, #020306 85%, #07050c);
  color: #fff;
  display: flex;
  height: 100svh;
  justify-content: center;
  padding: 10rem;
  position: relative;
}

.landingMain {
  padding: 5rem;
  text-align: center;
}


.landingMain h1 {
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: .2em;
}

.landingLogo {
  font-weight: 500;
}

.landingMain p {
  font-size: 2.5rem;
  font-weight: 500;
}

.activityHighlight {
  color: #ff2f66;
}


.ctaContainer {
  margin-top: 5rem;
}

.landingFormField {
  border-radius: 0.4em;
  padding: 1.3em 3em;
  border: 1px solid #5c5757;
  background-color: #0a0b0e;
  color: #fff;
  outline: none;
  margin-right: .5em;
  text-align: center;
}

.landingEnterBtn {
  background-color: #ff2f66;
  border: 1px solid #ff2f66;
  border-radius: 0.4em;
  color: #fff;
  cursor: pointer;
  padding: 1.3em 3em;
}

.landingVideoContainer {
  left: 50%;
  bottom: 0em;
  position: absolute;
  width: 42svw;
  transform: translateX(-50%);
}

.landingVideo {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

