.signupPage {

    max-width: 50rem;

    .signupPageContainer {
        // max-width: 50rem;
    }
    
    .signupPageLogo {
        align-items: center;
        display: flex;
        font-weight: 800;
        font-size: 2rem;
        justify-content: center;
        text-align: left;

        .signupLogo {
            font-size: 1rem;
            margin-right: 0.5rem;
        }

        span {
            letter-spacing: 1px;
        }
    }

    .signupPageText {
        margin: 2rem 0;
        text-align: center;
        font-size: 1rem;
    }

    
    
}