.dashboardPage {
    background-color: #f4f7fe;
    height: 100vh;
    width: 100vw;
}

.dashboardMainGridContainer {
    display: grid;

    grid-template-areas: 
        'sidebar header header'
        'sidebar main main'
        'sidebar footer footer';
    
    grid-template-rows: 15rem 1fr 10rem;
    grid-template-columns: 30rem auto auto;
    height: 100%;
    width: 100%;
}

.dashboardHeader {
    grid-area: header;
    text-align: center;
}

.dashboardHeading {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

.dashboardSubHeading {
    font-size: 3rem;
    font-weight: 400;
    margin: .5em auto;
    /* letter-spacing: .1rem; */
}


.mainContent {
    grid-area: main;
}

/* 
.sidebarLogo {
    position: absolute;
    top: 5em;
    left: 5em;
    width: 7em;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));

} */
/* 
.dashboardSpaces {
    align-items: flex-start;
    margin-top: 3em;
    width: 95vw;
    height: 100vh;
    display: flex;
    padding: 3em;
} */