.home {
    .homeGrid {
        display: grid;
        height: 100vh;
        grid-template-columns: 50rem 1fr;
        line-height: 1.6;

        .homeGridLeft {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-block: 3rem;
            padding-inline: 2rem;
            border-right: 1px solid var(--border-color);

            .homeNavLogo {
                font-size: 3rem;
                font-weight: 700;
            }

            .homeNavTagline {
                font-weight: 700;
                font-size: 1rem;

            }

            .homeGridLeftSection {
                margin-block: 1rem;

                .homeGridLeftTitle {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-block-end: 1rem;
                }

                .welcomeBackMsg {
                    font-weight: 600;
                    margin-block-end: 1rem;
                }
            }

            .homeGridContentDescriptions {
                .homeDescription {
                    color: hsl(0deg, 3%, 44%);
                    margin-block: 1rem;
                }
                
            }

            .homeGetStarted {
                h2 {
                    color: hsl(0, 3%, 44%);
                    font-weight: 700;
                    margin-block-end: 1.5rem;
                }
                .homeGetStartedButton {
                    background-color: hsl(0deg, 0%, 0%);
                    color: hsl(0deg,  100%, 100%);
                    padding-block: 2rem;
                    -webkit-transition: all 0.3s ease-in-out;

                    &:hover {
                        transform: translateX(3px);
                    }
        
                }
            }
        }

        .homeGridRight {
            display: flex;
            justify-content: center;

            .homeQuizContainer {
                padding-block-start: 3rem;

               .homeQuizHeading {
                h3 {
                    font-size: 3rem;
                    font-weight: 700;
                }
                text-align: center;
               }
            }
        }
    }
}
