.home {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;

    @media (max-width: 1400px) {
        height: auto;
    }

    .homeContent {

        h1 {
            
            font-weight: 700;
            font-size: 2rem;
        }
        text-align: center;

        .continueBtn {
            display: flex;
                justify-content: center;
                align-items: center;
                padding-block: 1rem;
                margin-block-start: 0.5rem;
                background-color: hsl(0deg 0.85% 8.8%);
                transition: all ease-in-out;
        }
    }
    .codeInputContainer {
        position: relative;
        margin-block: 1rem;
        .checkIcon {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .codeInput {
            transition: all 0.5s ease-in-out;
        }
    }

    .codeSuccessWrapper {
        margin-block: 1rem;
        font-weight: 500;
        line-height: 1.4;

        h2 {
            margin-block-start: 1rem;
        }
    }
    }
    

 .homeContent > * + * {
    margin-block: 1rem;
}